﻿body {
    background-image: url("../images/jsCodeLow.jpg");
    background-color: #555555;
    background-repeat: no-repeat;
}
.container.width-1920 {
        background-color: #ebe6e6;
}

.header-info {
     
    min-height: 400px;
}

.header-info h1 {
    margin-top: 90px;
    color: #ebe6e6;

}
.home-page header {
    position: fixed;
    height: 80px;
    background-color: rgba(105, 120, 77, 0.4);
    -webkit-transition: background-color .1s cubic-bezier(0, 0.02, 1, 1.02);
    -moz-transition: background-color .1s cubic-bezier(0, 0.02, 1, 1.02);
    -ms-transition: background-color .1s cubic-bezier(0, 0.02, 1, 1.02);
    -o-transition: background-color .1s cubic-bezier(0, 0.02, 1, 1.02);
    transition: background-color .1s cubic-bezier(0, 0.02, 1, 1.02);
    border-width: 0;
    z-index: 100;
    transition: background-color 0.7s linear;

}



.home-page header nav ul li {
        height: 80px;
        -webkit-transition: color 0.3s linear;
        -moz-transition: color 0.3s linear;
        -ms-transition: color 0.3s linear;
        -o-transition: color 0.3s linear;
        transition: color 0.3s linear;
    }

.home-page header .logo {
        -webkit-transition: color 0.3s linear;
        -moz-transition: color 0.3s linear;
        -ms-transition: color 0.3s linear;
        -o-transition: color 0.3s linear;
        transition: color 0.3s linear;
    }


    .home-page header.header-light {
        background-color: #f0f5f5;
        background-color: rgba(255,255,255,.91);
        -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.1);
        -ms-box-shadow: 0 0 10px rgba(0,0,0,.1);
        box-shadow: 0 0 10px rgba(0,0,0,.1);
        border-color: #dddddd;
        -webkit-transition: background-color 0.7s linear;
        -moz-transition: background-color 0.7s linear;
        -ms-transition: background-color 0.7s linear;
        -o-transition: background-color 0.7s linear;
        transition: background-color 0.7s linear;
    }

.home-page header.header-light .logo {
    color: #333;
    -webkit-transition: color 0.3s linear;
    -moz-transition: color 0.3s linear;
    -ms-transition: color 0.3s linear;
    -o-transition: color 0.3s linear;
    transition: color 0.3s linear;
}

.home-page header.header-light nav ul li {
    color: #333;
    font-weight: bold;
    -webkit-transition: color 0.3s linear;
    -moz-transition: color 0.3s linear;
    -ms-transition: color 0.3s linear;
    -o-transition: color 0.3s linear;
    transition: color 0.3s linear;
}

.home-page header nav {
        height: 80px;
    }

    
.home-page header .logo:after {
    -webkit-transform: scale(0.72);
    -moz-transform: scale(0.72);
    -ms-transform: scale(0.72);
    -o-transform: scale(0.72);
    transform: scale(0.72);
    -ms-background-size: 100%;
    background-size: 100%;
    -webkit-transition: background 0.3s linear;
    -moz-transition: background 0.3s linear;
    -ms-transition: background 0.3s linear;
    -o-transition: background 0.3s linear;
    transition: background 0.3s linear;
}

.home-page header.header-light .logo:after {
                   
    background: url(../images/oleniBlack.png) center no-repeat;
    -webkit-transform: scale(0.72);
    -moz-transform: scale(0.72);
    -ms-transform: scale(0.72);
    -o-transform: scale(0.72);
    transform: scale(0.72);
    -ms-background-size: 100%;
    background-size: 100%;
    -webkit-transition: background 0.3s linear;
    -moz-transition: background 0.3s linear; 
    -ms-transition: background 0.3s linear; 
    -o-transition: background 0.3s linear;
    transition: background 0.3s linear;
}



.site_theme {

    background-color: rgba(45, 110, 61, 0.75);
            color: rgb(255,208,180);
    -ms-border-radius: 7px;
    border-radius: 7px;
    margin-top: 80px;
}

footer {
    background-image: url(../images/jsCodeLow.jpg);
    -moz-background-position-y: -250px;
    -o-background-position-y: -250px;
    background-position-y: -250px;
    background-repeat: no-repeat;
}

.footer-lists .list-block {
    background-color: rgba(45, 45, 45, 0.4);
    color: rgb(226, 255, 230);
}


#main-block .courses-block .img {
    background: rgba(90, 255, 61, 0.05);
}

.footer-lists .list-block span {
    color: rgb(255, 115, 115);
}
.footer-lists .list-block ul li a:hover {
    color: rgb(255, 115, 115);
}